.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #0099ff;
    color: white;
    border-radius: 8px;
}


.info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
}