.board {
    margin: 2rem;
    text-align: center;
}


.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}


.card {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.correct {
    background: green;
}


.wrong {
    background: red;
}


